.spinner
{
	z-index: 9999;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}
.spinner_content
{
	top: 40%;
	left: 50%;
	position: absolute;
}
.content_background
{
	top: 40%;
	left: 50%;
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 5px !important;
	padding: 5px 6px;
	background-color: #ccc;
}
.spinner_text
{
	font-size: 16px;
	color: white;
}
.spinner_img
{
	color:#666;
	font-weight: bold;
	background-image:url(/new_template/assets/global/img/loading-spinner-grey.gif);
	background-position: left center !important;
	background-repeat: no-repeat !important;
	padding-left: 25px;
}